.container {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 13px;
}
.imgIcon {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.forTextAlign {
  text-align: left;
  align-self: flex-start;
}

.checkOut {
  background-color: hsl(26, 100%, 55%);
  text-align: center;
  line-height: 32px;
  height: 32px;
  margin-top: 15px;
  border-radius: 5px;
  color: #fff;
}

.Price {
  font-weight: bold;
}
